/* ----------------- common ----------------- */
body, html {
    font-family: 'Roboto', sans-serif;
}
.display-none {
    display: none;
}
.clearfix {
    clear: both;
}
.mt5 { margin-top: 5px; }
.mt10 { margin-top: 10px; }
.mt20 { margin-top: 20px; }

/* ----------------- bootstrap overides ----------------- */
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 400;
}
label {
    font-weight: 500;
}
.navbar-brand-name > {
    display: inline-block;
    float: left;

}
.navbar-brand-name > img {
    display: inline-block;
    float: left;
    padding: 0 15px 0 0;
}
.page-header {
    margin: 20px 0px;
}