<template name="pagesReadme">

    <div class="page-header">
        <h1>Readme</h1>
    </div>

    <p class="lead">Github: <a href="https://github.com/atulmy/meteor-bootstrap" target="_blank">https://github.com/atulmy/meteor-bootstrap</a></p>

    <!--
    <p class="lead">From <a href="https://gist.github.com/atulmy/54bb00639661b837bcef" target="_blank">gist.github.com</a></p>

    <div class="gist clearfix">
        {{{gist "atulmy" "54bb00639661b837bcef"}}}
    </div>
    -->

    <hr/>

    <p><code>Path: /client/views/pages/readme.html</code></p>

</template>