<template name="thoughtsCreate">

    {{#if currentUser._id }}

        <form id="form-thoughts-create">
            <div class="form-group">
                <label for="form-diary-title">Thought</label>
                <textarea class="form-control" rows="3" id="form-thought-text">{{ getThoughText }}</textarea>
            </div>

            <div class="form-group">
                <label for="form-diary-title">By</label>
                <input type="text" class="form-control" id="form-thought-by" value="{{ getThoughBy }}" />
            </div>

            <div class="checkbox">
                <label>
                    <input type="checkbox" id="form-thought-is-public" {{ getThoughtIsPublic }} /> Public
                </label>
            </div>

            <button type="submit" class="btn btn-default">Submit</button>
        </form>

    {{ else }}

        {{> commonAuth message="to add a thought." }}

    {{/ if }}

    <hr/>

    <p><code>Path: /client/views/thoughts/create.html</code></p>
    <p><code>Uses: /client/views/thoughts/create.js</code></p>

</template>