<template name="thoughtsList">

    <div class="list-group">

        {{# if thoughtsCount }}

            {{# each thoughts }}

                <a href="{{ pathFor route='thoughts_view' thoughtId=this._id }}" class="list-group-item">
                    <h4 class="list-group-item-heading">{{ text }}</h4>
                    <p class="list-group-item-text">- {{ by.name }}</p>
                </a>

            {{/ each }}

        {{ else }}

            <p class="list-group-item">No thoughts have been posted yet.</p>

        {{/ if }}

    </div>

    <hr/>

    <p><code>Path: /client/views/thoughts/list.html</code></p>
    <p><code>Uses: /client/views/thoughts/list.js</code></p>

</template>