<template name="thoughtsList">

    <p class="lead"><span class="glyphicon glyphicon-cloud"></span> Thoughts going in people's mind</p>

    <div class="list-group">
        <a href="#" class="list-group-item">Dapibus ac facilisis in <span class="badge">14</span></a>
        <a href="#" class="list-group-item">Dapibus ac facilisis in <span class="badge">14</span></a>
        <a href="#" class="list-group-item">Morbi leo risus <span class="badge">14</span></a>
    </div>

    <hr/>

    <p><code>Path: /client/views/thoughts/list.html</code></p>
    <p><code>Uses: /client/views/thoughts/list.js</code></p>

</template>