<template name="commonHeader">

    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>

                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="{{pathFor route='home'}}">
                    <div class="navbar-brand-name">
                        <img src="/images/logo.png" alt="Thoughts" title="Thoughts" style="height: 25px;" /> Thoughts
                    </div>
                </a>
            </div>

            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">

                    {{#if currentUser._id }}

                        <li class="{{isActiveRoute 'thoughts_create'}}"><a href="{{pathFor route='thoughts_create'}}">Create</a></li>

                        <li class="{{isActiveRoute 'thoughts_my'}}"><a href="{{pathFor route='thoughts_my'}}">My Thoughts</a></li>

                    {{/if }}

                    <li class="{{isActiveRoute 'about'}}"><a href="{{pathFor route='about'}}">About</a></li>

                    <li class="{{isActiveRoute 'contact'}}"><a href="{{pathFor route='contact'}}">Contact</a></li>

                    <li class="{{isActiveRoute 'readme'}}"><a href="{{pathFor route='readme'}}">Readme</a></li>

                    {{> loginButtons }}
                </ul>
            </div>
        </div>
    </nav>

</template>